body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.calculator {
    background:black;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}

.display {
    width: 94%;
    height: 40px;
    border: none;
    border-radius: 5px;
    text-align: right;
    padding: 10px;
    font-size: 24px;
    margin-bottom: 10px;
    background-color: #e9e9e9;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    padding: 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

.operator {
    background-color: #28a745;
}

.operator:hover {
    background-color: #218838;
}
